@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb-a: 214, 219, 220, 0.3;
  --background-end-rgb-a: 255, 255, 255, 0.3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  forced-color-adjust: green;
}
/* CSS */
.button-39 {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  /* text-decoration-thickness: auto; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-39:hover {
  background-color: rgb(249, 250, 251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.blog-shadow-dreamy {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgb-a))
    )
    rgba(var(--background-start-rgb-a));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  display: block;
  /* font-size: 2em; */
  font-size: clamp(3em, 5vw, 4.2em);
  /* margin-top: 0.67em; */
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
p {
  font-size: clamp(0.8em, 1.2vw, 1em);
}
.bookButton {
  background: linear-gradient(360deg, #9ed24a 0%, #4ac9d2 100%);
  border-radius: 16px;
  box-sizing: border-box;
}
.bookButton:hover {
  background: linear-gradient(360deg, #b5e469 0%, #75d8df 100%);
  color: #111827;
}

.search-button {
  background: #fff;
  height: 30px;
  display: absolute;
  right: 32px;
  top: 0px;
  border-radius: 16px 16px 16px 16px;
  z-index: 100;
  padding: 16px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3),
    -4px -4px 6px rgba(116, 125, 136, 0.2);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}

.search-container {
  outline: none;
  background: #fff;
  height: 30px;
  border-radius: 16px 16px 16px 16px;
  display: relative;
  min-width: 240px;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  transition: 0.8s;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  inset -7px -7px 10px 0px rgba(0,0,0,.1),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
 text-shadow:  0px 0px 6px rgba(255,255,255,.3),
            -4px -4px 6px rgba(116, 125, 136, .2);
text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
  /* box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2); */
}

.search-container:hover > .search-input {
  min-width: 200px;
}

.special-shadow {
  backdrop-filter: blur(17px);
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.5px solid white;
  /* box-shadow:  2x 2px 3px 0 rgba(255,255,255,.3),
            -2px -2px 3px 0 rgba(116, 125, 136, .2), 
  inset -2px -2px 3px 0 rgba(255,255,255,.2),
  inset 2px 2px 3px 0 rgba(0, 0, 0, .2); */

  /* border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  border-image:linear-gradient(135deg, rgba(92,189,100,0.7) 0%, rgba(12,139,12,0) 15%, rgba(92,189,100,0) 32%, rgba(92,189,100,0) 87%, rgba(92,189,100,0) 100%);
  border-image-slice:1; */
}
.special-toggle {
  box-shadow: inset 2px 2px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
}
.special-shadow-button {
  box-shadow: inset 2.5px 2.5px 2.5px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  /* text-shadow:  0px 0px 6px rgba(255,255,255,.3),
            -4px -4px 6px rgba(116, 125, 136, .2); */
  /* text-shadow: 2px 2px 3px rgba(255,255,255,0.5); */
}
.special-shadow-button2 {
  box-shadow: inset 2.5px 2.5px 2.5px 0px rgba(255, 255, 255, 0.5),
    inset -3.5px -3.5px 5px 0px rgba(0, 0, 0, 0.1),
    3.5px 3.5px 10px 0px rgba(0, 0, 0, 0.1),
    2px 2px 2.5px 0px rgba(0, 0, 0, 0.1);
  /* text-shadow:  0px 0px 6px rgba(255,255,255,.3),
            -4px -4px 6px rgba(116, 125, 136, .2); */
  /* text-shadow: 2px 2px 3px rgba(255,255,255,0.5); */
}

.aiSearch {
  border-radius: 16px;
  background: linear-gradient(145deg, #ffffff, #f5f5f5);
  box-shadow: 4px 4px 8px #e9e9e9, -4px -4px 8px #f5f5f5;
  z-index: 1;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  /* color: #5cbdbb; */
  color: #5cbd64;
}

.box-extrude {
  border-radius: 16px;
  /* background: linear-gradient(145deg, #c0d4c1, #ebefeb); */
  background: linear-gradient(145deg, #1f4c21, #29bc29);

  box-shadow: 16px 16px 32px #bcbcbcb0, -16px -16px 32px #fffdf7;
}

/* @keyframes hoverShake {
0% {transform: skew(0deg,0deg);}
25% {transform: skew(5deg, 5deg);}
75% {transform: skew(-5deg, -5deg);}
100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
animation: hoverShake 0.15s linear 3;
} */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* globals.css */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .divide-gray-200 {
  border-color: rgba(255, 255, 255, 0.1);
}

.card-extrude {
  background: linear-gradient(145deg, #ffffff, #f2f2f2);
  box-shadow: 8px 8px 16px #d6d6d6, -8px -8px 16px #ffffff;
}

.fixed.inset-0 {
  pointer-events: auto; /* Ensure clicks go through to modal content */
}
button {
  pointer-events: auto; /* Ensure button receives click events */
}