.body {
    background-color: #cfe3e8; /* 부드러운 배경색 추가 */
    font-family: 'Arial', sans-serif; /* 기본 폰트 설정 */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #ffffff; /* 흰색 배경 */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 더 부드러운 그림자 */
    max-width: 500px;
    width: 90%; /* 90% 너비 사용 */
    margin: auto;
  }
  
  .title {
    font-size: 2.5rem;
    color: #2c3e50; /* 짙은 색상 */
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* 텍스트 그림자 */
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #34495e; /* 밝은 색상 */
    margin-bottom: 20px;
  }
  
  .error {
    color: #e74c3c; /* 에러 메시지 색상 */
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #7f8c8d; /* 부드러운 색상 */
  }
  
  .input {
    padding: 12px; /* 패딩 증가 */
    margin-bottom: 15px;
    border: 1px solid #bdc3c7; /* 부드러운 테두리 색상 */
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.3s; /* 테두리 색상 변화 추가 */
  }
  
  .input:focus {
    border-color: #3498db; /* 포커스 시 테두리 색상 변화 */
    outline: none; /* 아웃라인 제거 */
  }
  
  .button {
    padding: 12px;
    background-color: #3498db; /* 버튼 배경 색상 */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* 전환 효과 추가 */
  }
  
  .button:hover {
    background-color: #2980b9; /* hover 시 색상 변화 */
    transform: translateY(-2px); /* 마우스 올릴 시 약간 위로 */
  }
  
  .link {
    margin-top: 15px; /* 링크와 버튼 사이의 여백 */
    text-align: center;
    color: #3498db; /* 링크 색상 */
    text-decoration: none; /* 기본 텍스트 장식 제거 */
  }
  
  .link:hover {
    text-decoration: underline; /* hover 시 밑줄 추가 */
  }